<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Statistical Significance Calculator</title>
  <link rel = "stylesheet" href = "static/styles/style28.css" type = "text/css">

</head>

<body>
  <ul>
    <li><a href="two_sample_proportion">Two Sample Proportion</a></li>
    <li><a href="student_ttest">Student T-test</a></li>
  </ul>

<div class="main_part">
  <br>
  <h1>Two Sample Proportion Test</h1>
  <p class = 'normal_text'>Student t-test compares means of two samples by looking at their mean, standard deviation and number of observations and estimating the distributions from it. </p>
  <p> – Null Hypothesis(H0): μ1 = μ2</p>
  <p> – Alternative Hypothesis(Ha): μ1 ≠ μ2</p>
  <p> Confidence Level
  <input type="radio" checked="html" id="html" name="fav_language" value="HTML">
  <label for="html">95%</label><br>
  <form action="/pvaluestudent" method="post">
    <h2>Control Group</h3>
    <input type="text" name="mean_control" placeholder="mean" required="required" />
    <input type="text" name="std_control" placeholder="standard deviation" required="required" />
    <input type="text" name="nobs_control" placeholder="number of observations" required="required" /> <br>
    
    <br>
  
    <h2>Test Group</h3>
    <input type="text" name="mean_test" placeholder="mean" required="required" />
    <input type="text" name="std_test" placeholder="standard deviation" required="required" />
    <input type="text" name="nobs_test" placeholder="number of observations" required="required" /> <br>
    <br>
      <button type="submit" class="btn btn-primary btn- block btn-large">Get P-value</button>
  </form>

  <br>
  <br>
  
  <p class = 'normal_text'> {{ prediction_text2 }} </p>



</div>


</body>
</html>
