ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    max-width: 1000px;
    margin: auto;
    width: 50%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 24px;
}

h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 20px;
}

p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 16px;
}

button {
    background-color: #FF554B;  
    color: white;
    border: 2px solid white;
    padding: 20px 35px;
    border-radius: 8px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

button:hover {
    background-color: white;
    color: #FF554B;
    border: 2px solid #FF554B;
    padding: 20px 35px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

input {
    padding: 16px 30px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}

.main_part {
  max-width: 1000px;
  margin: auto;
  width: 50%;
}

p.normal_text {
line-height: 1.6;
}